<div class="my-5 d-flex justify-content-center">
  {{! Form Background }}
  <div class="m-5 p-4 w-75 card-signin">
    {{! Login Form }}
    <form class="login-form py-3">
      <div class="form-group d-flex flex-column align-items-center">
        <div class="d-flex flex-column text-start w-50">
          <h3 class="pb-2 border-bottom border-dark">
            <i class="fa-solid fa-users" style="color: #1c4997;"></i>
            <span class="px-3">Account Login</span>
          </h3>

          {{! Enter Username }}
          <label for="user-login">Username:</label>
          <input class="form-input" type="text" id="user-login" />

          {{! Enter Password }}
          <label class="mt-3" for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" />

          {{! Button to Login }}
          <button class="btn btn-primary mt-3" type="submit">
            SIGN IN
          </button>

          {{! Link to Sign-in page }}
          <strong class="mt-2">
            <a href="../signup">Sign up instead!</a>
          </strong>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>