<!-- Main Background of card. -->
<div class="mx-5 my-4 bg-frost">
    <!-- Card Header -->
    <div class="title d-flex">
        <h4 class="mt-2 px-5">Signup</h4>
    </div>
    <!-- Background Glass Overlay-->
    <div class="text-center frost">
        <!-- Overhead Glass Overlay -->
        <div class="m-5 p-4 over-frost">
            <!-- Login Form  -->
            <form class="form signup-form py-3">
                <div class="form-group d-flex flex-column align-items-center">
                    <div class="d-flex flex-column text-start w-50">
                        <!-- Enter Username -->
                        <label for="name-signup">Username:</label>
                        <input class="form-input" type="text" id="name-signup" />
                        <!-- Enter Password -->
                        <label class="mt-3" for="password-signup">Password:</label>

                        <input class="form-input" type="password" id="password-signup" />
                        <!-- Button to Login -->
                        <button class="btn btn-primary mt-3" type="submit">
                            Signup
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>