* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #241546;
  --secondary: rgb(94, 14, 67);
  --tertiary: rgb(105, 20, 209);
  --i-text: rgb(27, 211, 211);
  --dark: #000000;
  --medium-dark: rgb(37, 37, 37);
  --medium: #bfbfbf;
  --light: #fff;
}

body {
  background: rgb(50, 2, 27);
  background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
  color: var(--light);
  font-family: "Roboto", sans-serif;
}

/* Background hero image settings */
.bg-hero {
  background-image: url(../assets/hero.png),
    linear-gradient(270deg, rgb(255, 0, 157) 0%, rgb(41, 21, 73) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  font-family: "Ysabeau SC", sans-serif;
}

/* Remove styling and set color for links */
a {
  text-decoration: none;
  color: var(--light);
}

/* Set color as medium for content and time */
p,
time {
  color: var(--medium);
  font-size: 110%;
}

/* Glass background effect for posts */
.frost {
  /* From https://css.glass */
  background: linear-gradient(
    90deg,
    rgba(8, 0, 4, 0.822) 0%,
    rgba(0, 0, 0, 0.363) 100%
  );

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid var(--medium-dark);
  border-radius: 15px;
  box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
}

/* Removes styling from buttons */
.btn-clear {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Styling for Blog Post View page */
.bg-blogpost {
  background-color: var(--dark);
  border: 1px solid var(--medium-dark);
  border-radius: 15px;
}

/* Stying for the sign-in or sign-up forms */
.card-signin {
  color: var(--dark);
  background-color: var(--light);
  border: 1px solid var(--medium-dark);
  border-radius: 15px;
  box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
}

.card-signin a {
  color: var(--i-text);
}

/* Custom Buttons for Dashboard */
.custom-btn {
  padding: 10px 25px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: var(--light);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
  outline: 0.1px solid;
  outline-color: var(--medium-dark);
  background-color: var(--dark);
}

.custom-btn:hover {
  background: #d4ddee;
  background: linear-gradient(to right, #c9d7eb, #d4ddee);
  opacity: 100%;
  border: 0.5px solid #3f4c6b;
  outline-color: #606c88;
  outline-style: initial;
  outline-offset: 10px;
  outline-width: 10px;
  color: var(--medium-dark);
}

.custom-btn:active {
  background: #464e63;
  background: linear-gradient(to right, #506188, #626e8a);
  opacity: 85%;
  color: #ffffff;
}

/* Small Icon Styles */
.custom-icon:hover {
  color: var(--i-text);
}

.custom-icon:active {
  color: var(--medium-dark);
}

.max-size {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.nav-box,
.foot-box {
  background: #232526;
  background: linear-gradient(to right, rgb(20, 20, 20), var(--medium-dark));
  font-family: "Ysabeau Infant", sans-serif;
}

.nav-box {
  box-shadow: -1px 7px 13px -1px var(--dark);
}

.foot-box {
  box-shadow: 0px -2px 23px 0px rgba(0,0,0,0.75);
}

/* Style for navigation links */
nav a {
  color: var(--medium);
  font-size: 1.2rem;
  line-height: 1.8;
  padding: 5px 10px;
  margin: 10px 2px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav a:hover {
  color: var(--light);
  border: 0.1px solid var(--medium);
  margin: 0 0 0 12px;
  color: var(--light);
  text-shadow: 2px 2px 2px var(--dark);
}

/* Style for our text areas and input elements */
input {
  padding: 10px;
}

textarea {
  width: 100%;
  height: 80px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--medium-dark);
  border-radius: 4px;
  background-color: var(--light);
  font-size: 16px;
  resize: none;
  line-height: 1.2rem;
  font-size: 1.2rem;
}

/* Dynamically hide and show edit post, create post, create comment */
.hide {
  display: none;
}
